# ==========================================
# NEXUS PRO: ULTIMATE PIPELINE DEPENDENCIES
# ==========================================

# --- Web Server & UI (Core) ---
flask==3.0.0            # Web framework for local/cloud backend
flask-cors==4.0.0       # To handle cross-origin requests
requests==2.31.0        # To send payloads to Cloud/Ngrok

# --- Image Processing & Mathematics (Stage 1 & 2) ---
opencv-python>=4.8.1.78 # For absolute pixel manipulation, Blur & Noise math
Pillow>=10.0.1          # For EXIF, ICC Profile, and Metadata extraction
numpy>=1.26.0           # For high-speed matrix and mathematical calculations

# --- Deep Learning Vision Engines (Stage 1) ---
transformers>=4.34.0    # HuggingFace Transformers for OpenAI CLIP (Zero-Shot AI)

# --- Upscaling Libraries ---
basicsr
facexlib
gfpgan
realesrgan
pypdf